<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hello All <br><br>
    
    Request you to click the following link & sign up to use the Hire Tool.
    http://localhost:3000/users/sign_up?team=<%=@team%>


Thanks,
<%=@recruiter%>
  </body>
</html>